@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s;
}
body{
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 26rem;
    height:25em;
    background-color:rgb(255, 255, 255);
    border-radius:.5rem;
    border-top: 5px solid #e63946;
    
}
h1{
    margin-top: 4rem;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   text-align: center;
    background-color: rgb(255, 255, 255);
    height: 23rem;
    width: 20rem;
    margin-top: 1rem;
}
.inputContainer{
    background-color: rgb(255, 255, 255);
    height:11rem;
    width: 80%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
input{
    outline: none;
    border: none;
    width: 100%;
    border-bottom: 1px solid thistle;
    height: 2rem;
    margin-bottom: 2rem;
}

span{
    font-size: .8rem;
    color: #1d3557b2
}

/* login page */
.loginBtn{
    background-color: #a8dadc;
    color: #1d3557;
    outline: none;
    border: none;
    padding: .5rem;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s;
    margin-bottom: 2rem;
}
.loginBtn:hover{
    background-color:#1d3557;
    color: azure;
}