@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s;
}
body{
    display: flex;
    background-color: #1d3557;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 26rem;
    height:34rem;
    background-color:rgb(255, 255, 255);
    border-radius:.5rem;
    border-top: 5px solid #e63946;
    padding-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  h1{
      display: block;
      /* background-color: #e63946; */
      margin: 1rem 0;
  }